[submodule "AntifakePrompt"]
	path = AntifakePrompt
	url = git@github.com:RaffeLegend/AntifakePrompt.git
[submodule "AIDE"]
	path = AIDE
	url = git@github.com:RaffeLegend/AIDE.git
[submodule "DIRE"]
	path = DIRE
	url = https://github.com/RaffeLegend/DIRE.git
[submodule "aeroblade"]
	path = aeroblade
	url = https://github.com/RaffeLegend/aeroblade.git
[submodule "AIGCDetectBenchmark"]
	path = AIGCDetectBenchmark
	url = https://github.com/RaffeLegend/AIGCDetectBenchmark.git
